{% extends "base.html" %}
{% block title %}{{ current_market.title }}{% endblock %}
{% block body %}
<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">{{ current_market.title}}</h1>
        <p>
          <a href="{{ current_market.id }}/createprod" class="btn btn-primary my-2">Create product</a>
        </p>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      {% if data|length > 0 %}
        {% for product in data %}
        <div class="col">
                    <div class="card shadow-sm">
                        <img src="{{ product.img_url }}" class="rounded card-img-top" alt="market"/>
                        <p class="p-2 card-text">{{ product.title }}</p>
                        <p class="p-2 card-text-muted">{{ product.description }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                          <small class="p-2 text">{{ product.price }} UAH</small>
                        </div>
                    </div>
                </div>
        {% endfor %}
      {% else %}
          <h4>Any of products doesnt exists</h4>
      {% endif %}
      </div>
    </div>
  </div>

</main>
{% endblock %}